@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us.</h2>
<h3>Campsite is a service put together by David Fraley, a learning dude.</h3>

<p>He can be contacted by passenger pigeon or smoke signals.</p>
