@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Campsite!</h1>
    <p class="lead">There's an exclamation point because it's exciting! Anyway, share your tents and camp stoves and stuff, but for money. 
    In fact, rent the stuff. I think it counts as rental, to be honest.</p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Getting started</h2>
        <p>
            To use Campsite, register as a new user, and boogie on over to the listings section. There, you can list items or spam the place 
            with random letters strung together that you pretend are a listing. You can also see other people's listing, which you can request!
            You could be cool! Just look at that picture of a tent. It shows how cool you could be if you use this service.
        </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <img src="../../Content/tent.jpeg" alt="A tent! You could be cool and camp in a tent too." class="img-responsive img-rounded"/>
    </div>
</div>